<!DOCTYPE html>
<html>
<head>
  <title>RailsBlogGuide</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:700,400' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="sidebar">
    <!-- can add logo if you wish here as well but for this example I do not have one -->
    <ul>
      <li class="category">Website</li>
      <!-- this will link to root of application, listing out blog posts -->
      <li><%= link_to "Blog", root_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>

    <ul>
      <li class="category">Social</li>
      <!-- insert links with href when ready to each social site -->
      <li>Twitter</li>
      <li>Github</li>
      <li>Instagram</li>
      <li>Facebook</li>
    </ul>
    <!-- add button so user can sign-in -->
    <p class="sign_in">Admin Login</p>
  </div>

  <!-- separates from sidebar content -->
  <div id="main_content">
    <div id="header">

      <% if current_page?(root_path) %>
      <p>All Posts</p>
      <!-- can wait to add this until after you create your about page and button -->
      <% elsif current_page?(about_path) %>
      <p> About </p>
      <% else %>
        <%= link_to "Back to all posts", root_path %>
        <% end %>

      <div class="buttons">
        <!-- button to create new post -->
        <button class="button"><%=link_to "New Post", new_post_path %></button>
        <!-- button to log out -->
        <button class="button">Log Out</button>
        </div>
    </div>
    
    <!-- anything rails does we know what is happening with a flash message -->
    <% flash.each do |name, msg| %>
      <!-- div with message with class of alert -->
      <%= content_tag(:div, msg, class: "alert") %>
      <% end %>
    
    <!-- yield tag in content div so posts will be next to sidebar instead of behind-->
    <%= yield %>
  
  </div>


</body>
</html>
