<!DOCTYPE html>
<html>
<head>
  <title>RailsBlogGuide</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="sidebar">
    <!-- can add logo if you wish here as well but for this example I do not have one -->
    <ul>
      <li class="category">Website</li>
      <!-- this will link to root of application, listing out blog posts -->
      <li><%= link_to "Blog", root_path %></li>
      <li>About</li>
    </ul>

    <ul>
      <li class="category">Social</li>
      <!-- insert links with href when ready to each social site -->
      <li>Twitter</li>
      <li>Github</li>
      <li>Instagram</li>
      <li>Facebook</li>
    </ul>

<%= yield %>

</body>
</html>
